<html>
<head>
    <!--Bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!--DataTables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/cr-1.3.2/datatables.min.css" integrity="sha384-7BhmgMfe0hg2B8/5HygrgPwzcKFOcCX6s6cbV8hNZr9W7iaAuGKSskghV4QNz123" crossorigin="anonymous"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/cr-1.3.2/datatables.min.js" integrity="sha384-fW78f6p4qkcbaOLucxJ/0dYH6CZq1S2qQWIvapIkVrpc1IaOQFspvS0IVtXiTyeF" crossorigin="anonymous"></script>
    <!--Custom-->
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/main.js"></script>

    <title>ShareDB demo</title>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ShareDB</a>
                </div>

                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#alerts" data-toggle="tab">Demo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="alert alert-info" id="globalAlert" role="alert"></div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Warning</h3>
            </div>
            <div class="panel-body">
                This is meant as a demo and some operations may not work properly.
                (Like trying to load data twice, for example...)
            </div>
        </div>

        <h3>DataHub session</h3>
        <p>
            Note: this is a temporary login solution and full OAuth support will be added shortly.
            In the meantime, please use an external service like Postman to retrieve a token.
        </p>

        <!-- Login form -->
        <form onsubmit="return startDH(this);">
            <div class="form-group">
                <label for="dhToken">DataHub Token</label>
                <input type="text" class="form-control" id="dhToken" placeholder="OAuth Token">
            </div>
            <button type="submit" class="btn btn-default">Start connection</button>
        </form>

        <hr>
        <h3>Select pre-defined classifiers and filters</h3>
        <p>
            Before filtering or classifying any data, you must set which pipeline you&rsquo;d like to use.
            This configures a set of classifiers (which classify columns based on their data) and filters (which modify columns based on what they&rdquo;re classified as).
        </p>

        <!-- TODO: Custom pipelines -->

        <!-- Pipeline form -->
        <form onsubmit="return getPipelines(this);">
            <button type="submit" class="btn btn-default">Get pipelines</button>
        </form>

        <!-- Pipeline table -->
        <table id="pipelines" class="table table-hover"></table>

        <!-- Pipeline select form -->
        <form onsubmit="return setPipeline(this);" id="pipeline-form">
        </form>

        <hr>
        <h3>Get data from DataHub</h3>       
        <p>
            Enter the name of the repo and table to retrieve data from as well as the number of rows to sample.
            Use <code>0</code> to retrieve the <em>entire</em> table.
            (Do not do this for very large data sets!)
        </p>

        <!-- Query form -->
        <form onsubmit="return queryTable(this);" class="form-inline">
            <div class="form-group">
                <label for="repoName">Repo name</label>
                <input type="text" class="form-control" id="repoName" placeholder="Repo name">
            </div>
            <div class="form-group">
                <label for="tableName">Table name</label>
                <input type="text" class="form-control" id="tableName" placeholder="Table name">
            </div>
            <div class="form-group">
                <label for="sampleSize">Sample size</label>
                <input type="number" class="form-control" id="sampleSize" placeholder="size">
            </div>
            <button type="submit" class="btn btn-default">Load table</button>
        </form>

        <!-- Table data -->
        <table id="data" class="table table-hover"></table>

        <hr>
        <h3>Classify columns</h3>

        <!-- Classify columns -->
        <form onsubmit="return classify(this);">
            <button type="submit" class="btn btn-default">Classify columns</button>
        </form>

        <!-- Ratings table -->
        <table id="ratings" class="table table-hover"></table>

        <hr>
        <h3>Filter columns</h3>
        <p>
            Select which filters to apply to columns.
        </p>

        <!-- Filter columns -->
        <form onsubmit="return filter(this);" id="filter-form">
        </form>

        <!-- Filtered data -->
        <table id="filtered" class="table table-hover"></table>

        <!-- Download filtered data as CSV -->
    </div>
</body>
</html>